.terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 41px);
  scroll-snap-align: start;
}

.terminal-container {
  width: 80%;
  max-width: 1024px;
  height: fit-content;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  background-color: #d4d4d4;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
}

.terminal-content {
  height: 350px;
  border: 1px solid black;
  background-color: black;
  color: greenyellow;
  padding: 10px;
  border-bottom: 2px solid white;
  border-left: 2px solid #5b5b5b;
  border-top: 2px solid #5b5b5b;
  border-right: 2px solid white;
}

span {
  font-size: 20px;
  line-height: 33px;
}

@media (max-width: 804px) {
  .terminal-content {
    height: 300px;
  }

  span {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 804px) {
  .terminal-content {
    height: 350px;
  }

  span {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 506px) {
  .terminal-content {
    height: 400px;
  }
  span {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 360px) {
  .terminal-content {
    height: 350px;
  }
}
