.terminal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-container {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  background-color: #d4d4d4;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
}

.terminal-bar {
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.terminal-bar img {
  height: auto;
  padding-right: 2px;
}

.btn-close {
  margin-left: auto;
  margin-right: 3px;
  width: 22px;
  height: 20px;
  color: black;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
  background-color: #d4d4d4;
}

.btn-close img {
  padding-right: 0 !important;
  margin-bottom: 2px;
}

.btn-close:active {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}


.terminal-content {
  height: 235px;
  border: 1px solid black;
  background-color: black;
  color: greenyellow;
  padding: 10px;
  border-bottom: 2px solid white;
  border-left: 2px solid #5b5b5b;
  border-top: 2px solid #5b5b5b;
  border-right: 2px solid white;
}

span {
  font-size: 14px;
  line-height: 30px;
}

@media (max-width: 804px) {
  .terminal-content {
    height: 250px;
  }

  span {
    font-size: 11px;
    line-height: 25px;
  }
}

@media (max-width: 506px) {
  .terminal-content {
    height: 300px;
  }
  span {
    font-size: 11px;
    line-height: 22px;
  }
}

@media (max-width: 360px) {
  .terminal-content {
    height: 350px;
  }
}
