.dropdown-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.spacing {
  width: 12.5rem;
  height: 0.2rem;
  position: absolute;
  top: 100%;
}

.dropdown-menu {
  background: #c0c0c0;
  width: 12.5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 3px;
  list-style: none;
  text-align: start;
  z-index: 20;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
  color: black;
}

.dropdown-menu li {
  background: #c0c0c0;
  cursor: pointer;
  color: black;
}

.-menu li:hover {
  background: #000184;
  color: white;
  cursor: pointer;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px;
  font-size: 16px;
}

.dropdown-link:hover {
  color: white;
}
