.folders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
  margin-top: 30px;
  width: 90vw;
}

body .active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px;
  display: block;
  margin: 30px auto 0;
  font-size: 12px;
  width: fit-content;
  text-align: center;
}

.btn-modal h3{
  font-weight: 100;
  /* font-size: 19px; */
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 1.4; */
  max-width: 600px;
  min-width: 300px;
  /* width: 80%; */
  height: fit-content;
  /* margin: 0 auto; */
  padding: 5px 5px 5px 5px;
  background-color: #d4d4d4;
  border-top: 2px solid white;
  border-right: 2px solid #464545;
  border-bottom: 2px solid #464545;
  border-left: 2px solid white;
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 22px;
  height: 20px;
  text-align: center;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
  background-color: #d4d4d4;
}

.close-modal img {
  margin-right: 0 !important;
}

.close-modal:active {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}

.modal-bar {
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 3px;
  font-size: 19px;
}

.modal-bar img {
  height: 16px;
  margin-right: 3px;
}

.modal-content {
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 22px 16px 16px 16px;
  border-bottom: 2px solid white;
  border-left: 2px solid #5b5b5b;
  border-top: 2px solid #5b5b5b;
  border-right: 2px solid white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.modal-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
  justify-items: center;
}

.modal-content-grid img {
  height: 20px;
}

.project-modal-icon {
  margin: 0 auto;
}

.project-modal-icon p {
  font-size: 9px !important;
}

.project-modal-content {
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px;
  border-bottom: 2px solid white;
  border-left: 2px solid #5b5b5b;
  border-top: 2px solid #5b5b5b;
  border-right: 2px solid white;
  width: 500px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .folders {
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
  }

  .modal-content {
    /* width: fit-content; */
    grid-template-columns: repeat(4, 1fr);
  }

  .project-modal-content {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    width: 300px;
  }
}

@media (max-width: 450px) {
  .modal-content {
    /* width: fit-content; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 13px !important;
  }
}
