.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  padding: 2.5px;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
  background-color: #d4d4d4;
}
