.terminal-container {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  background-color: #d4d4d4;
  margin-top: 10vh;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
}

.terminal-bar {
  background-color: blue;
  height: 25px;
  margin-bottom: 4px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.terminal-bar img {
  height: 20px;
  padding-right: 2px;
}

.btn-close {
  margin-left: auto;
  margin-right: 3px;
  width: 22px;
  height: 20px;
  color: black;
  border-top: 2px solid white;
  border-right: 2px solid #5b5b5b;
  border-bottom: 2px solid #5b5b5b;
  border-left: 2px solid white;
  background-color: #d4d4d4;
}

.btn-close img {
  height: 16px;
  padding-right: 0 !important;
}

.btn-close:active {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}


.terminal-content {
  height: fit-content;
  border: 1px solid black;
  background-color: black;
  color: greenyellow;
  padding: 10px;
  border-bottom: 2px solid white;
  border-left: 2px solid #5b5b5b;
  border-top: 2px solid #5b5b5b;
  border-right: 2px solid white;
}

.Typewriter {
  font-size: 21px;
  line-height: 23px;
}
