* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "px sans nouveaux";
  font-size: 11px;
  font-weight: 400;
}

body {
  background-image: url('../public/assets/bg.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.background-image {
  overflow: auto;
  height: 100vh;
}

@font-face{
  font-family: "px sans nouveaux";
  src: url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.eot");
  src: url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/a43e9bb69f6bd612bef0d3c06918f7da.svg#px sans nouveaux")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}


/* @font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00, U+D7AF;
} */
