.slider-container {
  /* border: 1px solid #ccc; */
  border-left: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-right: 1.2px solid #5b5b5b;
  border-bottom: 1.2px solid #5b5b5b;
}

@media (max-width: 768px) {
  .slider-container {
    height: 150px !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
  }
}

/* '@media (max-width: 480px)': {
  height: '100px',
  marginBottom: '5px',
  marginTop: '2px',
}, */
